{#
/**
 * @file
 * Print block--event-lister page.
 *
 * Available variables:
 *   - events
 *
 *
 * @ingroup themeable
 */
#}

<ul>
  {% for event in events %}
    <li>
      <p>Event: {{ event.name }}<small> <i>Created by: {{ event.a_name }}</i></small></p>
      <p>Event date: {{ event.date }}</p>

    </li>
  {% endfor %}
  {{ list }}
</ul>
